@model Library.Models.ViewModels.MemberIndex

@{
    ViewData["Title"] = "Index";
}
<div>
    <h2>Användare</h2>
    <a asp-action="Index" class="btn btn-primary">Alla</a>
    <a asp-action="Available" class="btn btn-primary">Tillgängliga</a>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>